/* Order Form */


.form-content {
	float: left;
	width: 590px;
}

.form-content h2, .cart h2 {
	margin: 0;
	margin-bottom: 20px;
	color: #003865;
}

.section {
	margin: 10px 0 45px;
}

.section h3 {
	color: #72a900;
	border: dashed 1px #72a900;
	font-size: 20px;
	padding: 5px;
	margin-bottom: 15px;
	background: #d8e986;
}

.product {
	border: solid 1px #fff;
	background: #fff;
	padding: 10px;
	margin: 5px 0 20px;
}

.selected {
	border: solid 1px #d9bd7f;
	background: #f1e2c3;
}

.product h4 {
	float: right;
	color: #003865;
	margin-top: 0;
}

.product.disabled h4, 
.product.disabled p.field, 
.product.disabled p.field label,
.product.disabled .description,
.product.disabled .upload-text {
	color: #bbb;
	border-color: #bbb;
}

.product.disabled .uploadify-field {
	visibility: hidden;
}

.uploadify-field input {
	display: none;
}

.product .field label {
	font-weight: bold;
	font-size: 16px;
	color: #003865;
}


#main .product p.field {
	margin: 0;
	padding: 0;
	border-bottom: dashed 1px;
	padding-bottom: 4px;
}

.description {
	font-size: 12px;
	margin: 0 0 25px 27px;
}

.product .description p {
	margin: 5px 0 10px 0;
}


.product .description ul {
	padding-left: 20px;
	list-style: none;
}

.product .description li {
	list-style-image: none;
	background: url('../images/accept.png') no-repeat 0 0;
	margin: 0 0 7px -10px;
	padding: 0 0 1px 22px;
}




/* Cart */

.cart {
	float: right;
	width: 300px;
	padding-left: 40px;
}

#price-info {
	position: relative;
	width: 300px;
	top: 0;
	left: 0;
	
}

#price-info.floating {
	position: fixed;
	top: 26px;
	left: 915px;
}

.cart table {
	width: 100%;
	background: #f1e2c3;
	border: solid #d9bd7f;
	border-width: 1px 0 0 1px;
	font-size: 14px;
	color: #5d491b;
}

.cart table th, .cart table td {
	padding: 6px;
	border: solid #d9bd7f;
	border-width: 0 1px 1px 0;
}

.cart table th {
	text-align: left;
	border-bottom-width: 4px;
	font-size: 12px;
}

.cart table td.price, .cart table th.price {
	width: 90px;
}

.cart table td.price {
	color: #2377b9;
}


.cart table .total td {
	border-top-width: 3px;
}

.cart .order-section {
	border-bottom: solid 1px #dadada;
	overflow: auto;
	padding: 25px 0;
}

.cart .order-btn {
	float: right;
	outline: none;
}

.terms, .payments {
	margin-top: 25px;
}

.terms strong, .payments strong {
	color: #003865;
	font-size: 12px;
}

.terms p {
	font-size: 10px;
}

.payments ul {
	list-style: none;
	margin: 7px 0 0 0;
	padding: 0;
}